input {
    keyboard {
        xkb {
        }
	repeat-delay 200
	repeat-rate 35
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "1920x1200@60.001"
    scale 1.0
    transform "normal"
}

layout {
    gaps 10

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1
        active-color   "#bd93f9"
        inactive-color "#44475a"
    }

    border {
        width 1
        active-color   "#ff79c6"
        inactive-color "#44475a"
        urgent-color   "#ff5555"
    }

    shadow {
		on
		offset x=8 y=8
		softness 0
		spread -1
		color "#000000"
    }

    background-color "transparent"
}

overview {
    workspace-shadow {
        off
    }
}

prefer-no-csd

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 16
}

hotkey-overlay {
    skip-at-startup
}

animations {
    slowdown 1.0

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001
    }

    window-open {
        duration-ms 180
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 120
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.5 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=600 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.001
    }
}

spawn-sh-at-startup "swaybg -m fill -i /home/jaggu/Pictures/Wallpapers/sin.png"

spawn-at-startup "pipewire"

spawn-at-startup "mako"

spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: Kitty" { spawn "kitty"; }
    Mod+B hotkey-overlay-title="Open a Browser: Firefox" { spawn "firefox"; }
    Mod+D hotkey-overlay-title="Open a File Browser: Nautilus" { spawn "nautilus"; }

    Mod+P { spawn "kitty" "--class" "launcher" "-e" "launcher"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    XF86AudioRaiseVolume { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute        { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }

    XF86MonBrightnessUp { spawn-sh "brightnessctl set +5%"; }
    XF86MonBrightnessDown { spawn-sh "brightnessctl set 5%-"; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }

    Mod+Q { close-window; }

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+M       { maximize-column; }
    Mod+Shift+W { fullscreen-window; }
    Mod+Shift+M { maximize-window-to-edges; }

    Mod+F       { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    Mod+C { center-column; }

    Mod+Minus       { set-column-width "-5%"; }
    Mod+Equal       { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up { move-column-to-workspace-up; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up   { focus-workspace-up; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Shift+T { toggle-column-tabbed-display; }

    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+Q { quit; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match is-focused=false
    opacity 0.90
}

window-rule {
    match app-id="kitty"
    opacity 0.80
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^launcher$"
    open-floating true
    default-column-width { fixed 400; }
    default-window-height { fixed 200; }
    opacity 0.80
    background-effect {
        blur true
    }
 }

window-rule {
    match app-id="xdg-desktop-portal-gtk"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="Nautilus"
    open-floating true
    default-column-width { fixed 1000; }
    default-window-height { fixed 600; }
}

layer-rule {
    match namespace="^notifications$"
    opacity 0.80
    shadow {
        on
        offset x=8 y=8
        softness 0
        spread -1
        color "#000000"
	}
	background-effect {
	    blur true
	}
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
